<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon-32x32.png">

    <meta name="description" content="About ConvoyHub Express">
    <meta name="author" content="InsanoDeath">

    <title>About | ConvoyHub Express</title>

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="/css/plugins.css?ver=3.1" />
    <link type="text/css" rel="stylesheet" href="/css/style.css?ver=3.1" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/vtc.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="metaportal_fn_preloader">
        <div class="loading-container">
            <div class="loading">
                <div class="l1">
                    <div></div>
                </div>
                <div class="l2">
                    <div></div>
                </div>
                <div class="l3">
                    <div></div>
                </div>
                <div class="l4">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- !Preloader -->

    <!-- Main -->
    <div class="metaportal_fn_main">

        <!-- Mobile Navigation -->
        <div class="metaportal_fn_mobnav">
            <div class="mob_mid">
                <div class="logo">
                    <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                </div>
                <div class="trigger">
                    <span></span>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="mob_bot">
                <ul>
                    <li><a class="creative_link" href="/home">Home</a></li>
                    <li><a class="creative_link" href="/about">About Us</a></li>
                    <li><a class="creative_link" href="/team">Our Team</a></li>
                    <li><a class="creative_link" href="/rules">Rules</a></li>
                    <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                </ul>
            </div>
        </div>
        <!-- !Mobile Navigation -->

        <!-- Header -->
        <header id="header">
            <div class="header">
                <div class="header_in">

                    <div class="trigger_logo">
                        <div class="logo">
                            <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                        </div>
                    </div>

                    <div class="nav">
                        <ul>
                            <li><a class="creative_link" href="/">Home</a></li>
                            <li><a class="creative_link" href="/about">About Us</a></li>
                            <li><a class="creative_link" href="/team">Our Team</a></li>
                            <li><a class="creative_link" href="/rules">Rules</a></li>
                            <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
        <!-- !Header -->

        <!-- Content -->
        <div class="metaportal_fn_content">

            <!-- Home Section -->
            <section class="banner">
                <div class="container text-center">

                    <h3 class="fn__maintitle big" data-text="ConvoyHub Express" data-align="center">
                        About Us
                    </h3>
                    <hr>
                    <ul class="breadcrumb">
                        <li><a href="/"> home</a></li>
                        <li>About us</li>
                    </ul>

                </div>
            </section>
            <!-- !Home Section -->

            <!-- About Section -->
            <section id="about">

                <div class="container">
                    <div class="metaportal_fn_nft_cats" style="margin-bottom: 0;">
                        <ul style="display: flex; justify-content: center;">
                            <li>
                                <div class="item">
                                    <h4 class="parent_category">DriversHub</h4>
                                    <h3 class="child_category" title="Industry Leading DriversHub">
                                        Industry Leading
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <h4 class="parent_category">Simulation</h4>
                                    <h3 class="child_category" title="Best Expirience">
                                        Best Expirience
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <h4 class="parent_category">Community</h4>
                                    <h3 class="child_category" title="Friendly Community">
                                        Friendly Community
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="container small">
                    <div class="metaportal_fn_mint_top" style="padding-top: 35px;">
                        <div class="mint_left">
                            <div class="img">
                                <div class="img_in" data-bg-img="/images/trucks/6.png">
                                    <img src="/images/1x1.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="mint_right">
                            <h3 class="fn__maintitle" data-text="ConvoyHub Express" data-align="left">
                                ConvoyHub Express
                            </h3>
                            <div class="desc">
                                <p>
                                    ConvoyHub Express began in July 2022. ConvoyHub Express is one of the best virtual
                                    trucking company in the world of simulated trucking, you can find for realism, we in
                                    ConvoyHub congratulate realism in trucking more than anything.
                                </p>
                            </div>

                            <ul class="nav nav-tabs" style="margin: 50px 0;">
                                <li class="active"><a data-toggle="tab" href="#menu1">Our Mission</a></li>
                                <li><a data-toggle="tab" href="#menu2">Our advantages</a></li>
                                <li><a data-toggle="tab" href="#menu3">Our guarantees</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="menu1" class="tab-pane fade in active">
                                    <p>
                                        Our mission is to improve the Simulation Experience. Our Staff is very much
                                        professional as well as experienced in there work. Our main aim is to Enjoy the
                                        game
                                        to the fullest and give a proper simulation feel through our Extraordinary
                                        DriversHub which will be launched in the near future for our Drivers.
                                    </p>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <p>
                                        We have a very professional and friendly team of staff who are ready to assist
                                        you
                                        at all times. In addition, we'll provide our drivers with a prepossessing
                                        DrivrsHub
                                        (currently
                                        in progress) that will show your statistics, your rank, news and much more.
                                    </p>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <p>
                                        Providing a beautiful environment for enjoying the simulation game is our
                                        promise.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- !About Section -->


            <!-- Section RoadMap -->
            <section id="roadmap" style="padding-top: 0;">
                <div class="container">

                    <h3 class="fn__maintitle big" data-text="RoadMap" data-align="center">RoadMap</h3>

                    <div class="fn_cs_roadmap">
                        <div class="step_holder">
                            <div class="step_in"></div>
                        </div>
                        <div class="slider_holder">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">20 July, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">VTC Started</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">21 July, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">Completed 10 Members in VTC</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">21 July, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">VTC Website Launched</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">24 July, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">VTC got Validated on TruckersMP</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">31 July, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">Completed a milestone of 50 members in the VTC</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">6 August, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">Attended 1st Public Convoy</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">20 August, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">All New Express DriversHub Launched</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">24 August, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">Completed 500+ members on Dicsord server</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">27 August, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">1st Hosted Private Convoy</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">12 September, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">100 Members Completed in the VTC</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">16 October, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">Hosted 1st Public Convoy</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">10 December, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">VTC Crossed 150 Members Milestone</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <span class="icon"></span>
                                            <span class="phase">11 December, 2022</span>
                                            <div class="item_in">
                                                <h3 class="title">VTC got Verified on TruckersMP</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- !Section RoadMap -->


            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->


            <!-- Footer -->
            <footer id="footer">

                <div class="container top-footer">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <img src="/images/logo-banner-dark.png" alt="CHEVTC Banner" style="width: 100%;">
                            <h5 class="text-center">Express Delivery To Your Door Step</h5>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Contact US</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa fa-envelope-open"></i>
                                            <a href="mailto:info@convoyhub.in">info@convoyhub.in
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="https://discord.convoyhub.in" class="metaportal_fn_button"
                                            target="_blank">
                                            <span>Join Discord</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Navigate</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/">
                                                Home
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/about">
                                                About
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/team">
                                                Meet our Team
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/policy">
                                                Privacy Policy
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-12 col-md-4">
                            <!-- Facts Starts -->
                            <div>
                                <h3 style="color: #fff;">Support ConvoyHub</h3>
                                <hr style="background: #2190E3;">
                                <p>
                                    If you like our work and want to help support our community grow more, please
                                    consider
                                    becoming a Patron or donating. Every donation helps us to improve your
                                    experiences.
                                </p>
                                <a href="https://www.patreon.com/convoyhub" target="_blank">
                                    <button class="btn btn-danger btn-circled">
                                        <i class="fa-brands fa-patreon"></i>
                                        Become a Patreon
                                    </button>
                                </a>
                            </div>
                            <!-- Facts Ends -->
                            <hr>
                            <!-- Social Media Links Starts -->
                            <div class="social-icons">
                                <ul class="social">
                                    <li>
                                        <a class="twitter" href="https://twitter.com/ConvoyHub" title="twitter"></a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="https://www.instagram.com/convoyhub"
                                            title="instagram"></a>
                                    </li>
                                    <li>
                                        <a class="youtube"
                                            href="https://www.youtube.com/channel/UCU8TQxwbW77eIFQ2TkAe_XA"
                                            title="youtube"></a>
                                    </li>
                                    <li>
                                        <a class="discord" href="https://discord.convoyhub.in/" title="discord"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social Media Links Ends -->
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
                <!-- Footer Top Area Ends -->

                <div class="container">
                    <div class="footer">
                        <div class="left_part">
                            <p>Copyright © 2022 ConvoyHub. All Rights Reserved — Created with Love by
                                <a href="https://www.instagram.com/sameeraroraa/" target="_blank"
                                    style="color: #2190E3;">InsanoDeath</a>
                            </p>
                        </div>
                        <div class="right_part">
                            <ul>
                                <li><a class="creative_link" href="/policy">Privacy Policy</a></li>
                                <li><a class="creative_link" href="/tos">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- !Footer -->

        </div>
        <!-- !Content -->


        <!-- Totop -->
        <a href="#" class="metaportal_fn_totop">
            <span class="totop_inner">
                <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                </span>
            </span>
        </a>
        <!-- /Totop -->


    </div>
    <!-- !Main -->

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/plugins128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/init128b.js?ver=3.1"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- !Scripts -->

</body>

</html>