<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon-32x32.png">

    <meta name="description"
        content="ConvoyHub Express began in July 2022. ConvoyHub Express is one of the best virtual trucking company in the world of simulated trucking, you can find for realism, we in ConvoyHub congratulate realism in trucking more than anything.">
    <meta name="author" content="InsanoDeath">

    <title>VTC | ConvoyHub Express</title>

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="/css/plugins.css?ver=3.1" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/vtc.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="metaportal_fn_preloader">
        <div class="loading-container">
            <div class="loading">
                <div class="l1">
                    <div></div>
                </div>
                <div class="l2">
                    <div></div>
                </div>
                <div class="l3">
                    <div></div>
                </div>
                <div class="l4">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- !Preloader -->

    <!-- Main -->
    <div class="metaportal_fn_main">

        <!-- Mobile Navigation -->
        <div class="metaportal_fn_mobnav">
            <div class="mob_mid">
                <div class="logo">
                    <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                </div>
                <div class="trigger">
                    <span></span>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="mob_bot">
                <ul>
                    <li><a class="creative_link" href="/home">Home</a></li>
                    <li><a class="creative_link" href="/about">About Us</a></li>
                    <li><a class="creative_link" href="/team">Our Team</a></li>
                    <li><a class="creative_link" href="/rules">Rules</a></li>
                    <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                </ul>
            </div>
        </div>
        <!-- !Mobile Navigation -->

        <!-- Header -->
        <header id="header">
            <div class="header">
                <div class="header_in">

                    <div class="trigger_logo">
                        <div class="logo">
                            <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                        </div>
                    </div>

                    <div class="nav">
                        <ul>
                            <li><a class="creative_link" href="/">Home</a></li>
                            <li><a class="creative_link" href="/about">About Us</a></li>
                            <li><a class="creative_link" href="/team">Our Team</a></li>
                            <li><a class="creative_link" href="/rules">Rules</a></li>
                            <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
        <!-- !Header -->

        <!-- Content -->
        <div class="metaportal_fn_content">

            <!-- Home Section -->
            <section id="home">
                <div class="container">

                    <h3 class="fn__maintitle big" data-text="ConvoyHub Express" data-align="center">ConvoyHub Express
                    </h3>

                    <!-- Slider -->
                    <div class="fn_cs_slider" data-responsive="on">
                        <div class="slider_top">
                            <img src="/images/1x1.jpg">
                            <ul>
                                <li class="prev" data-index="1">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/1.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="active" data-index="2">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/2.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="next" data-index="3">
                                    <div class="item has_video">
                                        <img src="/images/1x1.jpg" alt="">
                                        <!-- <a class="popup-youtube metaportal_fn_videobutton"
                                            href="https://www.youtube.com/watch?v=7e90gBu4pas">
                                            <img src="svg/play.svg" alt="" class="fn__svg">
                                        </a> -->
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/3.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="next2" data-index="4">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/4.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li data-index="5">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/5.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li data-index="6">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/6.png"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="prev2" data-index="7">
                                    <div class="item">
                                        <img src="/images/1x1.jpg" alt="">
                                        <div class="item_in">
                                            <div class="img" data-bg-img="/images/trucks/7.png"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="slider_nav">
                            <a href="#" class="prev">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </span>
                            </a>
                            <a href="#" class="next">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- !Slider -->

                    <!-- Description -->
                    <div class="fn_cs_desc">
                        <p>
                            Express Delivery To Your Door Step.
                        </p>
                        <a href="https://truckersmp.com/vtc/56316" class="metaportal_fn_button" target="_blank">
                            <span>Apply Now</span>
                        </a>
                    </div>
                    <!-- !Description -->


                </div>
            </section>
            <!-- !Home Section -->

            <!-- About Section -->
            <div class="container clearfix" style="margin-bottom: 250px;">

                <div class="line"></div>

                <div class="row col-mb-50">
                    <div class="col-md-6 static-bg">
                        <img src="/images/parts/truck.png" class="move-truck" id="move">
                        <img src="/images/parts/tyre1.png" id="move-tire1" class="tire1">
                        <img src="/images/parts/tyre2.png" id="move-tire2" class="tire2">
                        <img src="/images/parts/tyre3.png" id="move-tire3" class="tire3">
                    </div>

                    <div class="col-md-6">
                        <div class="right_in">
                            <h3 class="fn__maintitle" data-text="Little About Us">Little About Us</h3>
                            <div class="fn_cs_divider">
                                <div class="divider">
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="desc">
                                <p>
                                    ConvoyHub Express began in July 2022. ConvoyHub Express is one of the best virtual
                                    trucking company in the world of simulated trucking, you can find for realism, we in
                                    ConvoyHub congratulate realism in trucking more than anything.
                                </p>
                            </div>
                            <a href="/about" class="metaportal_fn_button">
                                <span>Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- !About Section -->

            <!-- Fun Facts -->
            <section id="fun_facts">
                <div class="container">

                    <div class="fn_cs_counter_list">
                        <ul style="justify-content: center;">
                            <li>
                                <div class="item">
                                    <h3 class="fn__gradient_title">
                                        <span class="prefix"></span>
                                        <span class="fn_cs_counter" data-from="0" data-to="<%= data.drivers %>"
                                            data-speed="3000" data-decimals="0">0</span>
                                        <span class="suffix">+</span>
                                    </h3>
                                    <p>Express Drivers</p>
                                    <div class="divider"></div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <h3 class="fn__gradient_title">
                                        <span class="prefix"></span>
                                        <span class="fn_cs_counter" data-from="0" data-to="<%= data.discord %>"
                                            data-speed="3000" data-decimals="0">0</span>
                                        <span class="suffix">+</span>
                                    </h3>
                                    <p>Discord Members</p>
                                    <div class="divider"></div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <h3 class="fn__gradient_title">
                                        <span class="prefix"></span>
                                        <span class="fn_cs_counter" data-from="0" data-to="<%= data.countries %>" data-speed="3000"
                                            data-decimals="0">0</span>
                                        <span class="suffix"></span>
                                    </h3>
                                    <p>Country Drivers</p>
                                    <div class="divider"></div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <h3 class="fn__gradient_title">
                                        <span class="prefix">July</span>
                                        <span class="fn_cs_counter" data-from="0" data-to="2022" data-speed="3000"
                                            data-decimals="0">0</span>
                                        <span class="suffix"></span>
                                    </h3>
                                    <p>Established on</p>
                                    <!-- <div class="divider"></div> -->
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </section>
            <!-- !Fun Facts -->


            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->


            <!-- Footer -->
            <footer id="footer">

                <div class="container top-footer">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <img src="/images/logo-banner-dark.png" alt="CHEVTC Banner" style="width: 100%;">
                            <h5 class="text-center">Express Delivery To Your Door Step</h5>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Contact US</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa fa-envelope-open"></i>
                                            <a href="mailto:info@convoyhub.in">info@convoyhub.in
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="https://discord.convoyhub.in" class="metaportal_fn_button"
                                            target="_blank">
                                            <span>Join Discord</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Navigate</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/">
                                                Home
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/about">
                                                About
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/team">
                                                Meet our Team
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/policy">
                                                Privacy Policy
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-12 col-md-4">
                            <!-- Facts Starts -->
                            <div>
                                <h3 style="color: #fff;">Support ConvoyHub</h3>
                                <hr style="background: #2190E3;">
                                <p>
                                    If you like our work and want to help support our community grow more, please
                                    consider
                                    becoming a Patron or donating. Every donation helps us to improve your
                                    experiences.
                                </p>
                                <a href="https://www.patreon.com/convoyhub" target="_blank">
                                    <button class="btn btn-danger btn-circled">
                                        <i class="fa-brands fa-patreon"></i>
                                        Become a Patreon
                                    </button>
                                </a>
                            </div>
                            <!-- Facts Ends -->
                            <hr>
                            <!-- Social Media Links Starts -->
                            <div class="social-icons">
                                <ul class="social">
                                    <li>
                                        <a class="twitter" href="https://twitter.com/ConvoyHub" title="twitter"></a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="https://www.instagram.com/convoyhub"
                                            title="instagram"></a>
                                    </li>
                                    <li>
                                        <a class="youtube"
                                            href="https://www.youtube.com/channel/UCU8TQxwbW77eIFQ2TkAe_XA"
                                            title="youtube"></a>
                                    </li>
                                    <li>
                                        <a class="discord" href="https://discord.convoyhub.in/" title="discord"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social Media Links Ends -->
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
                <!-- Footer Top Area Ends -->

                <div class="container">
                    <div class="footer">
                        <div class="left_part">
                            <p>Copyright © 2022 ConvoyHub. All Rights Reserved — Created with Love by
                                <a href="https://www.instagram.com/sameeraroraa/" target="_blank"
                                    style="color: #2190E3;">InsanoDeath</a>
                            </p>
                        </div>
                        <div class="right_part">
                            <ul>
                                <li><a class="creative_link" href="/policy">Privacy Policy</a></li>
                                <li><a class="creative_link" href="/tos">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- !Footer -->

        </div>
        <!-- !Content -->


        <!-- Totop -->
        <a href="#" class="metaportal_fn_totop">
            <span class="totop_inner">
                <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                </span>
            </span>
        </a>
        <!-- /Totop -->


    </div>
    <!-- !Main -->

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/plugins128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/init128b.js?ver=3.1"></script>
    <!-- !Scripts -->

    <script>
        $(window).on("load resize scroll", function () {
            $(".static-bg").each(function () {
                var scrollTop = $(window).scrollTop()
                var elementTop = $(this).offset().top

                var leftpos = (scrollTop - elementTop) + 50
                var leftpostire1 = (scrollTop - elementTop) + 449
                var leftpostire2 = (scrollTop - elementTop) + 226
                var leftpostire3 = (scrollTop - elementTop) + 131

                if (leftpostire1 > 279) leftpostire1 = 279
                if (leftpostire2 > 56) leftpostire2 = 56
                if (leftpostire3 > -39) leftpostire3 = -39

                if (window.innerWidth < 1440 && window.innerWidth >= 1200) {
                    if (leftpos > -120) leftpos = -120

                    var leftpostire1 = (scrollTop - elementTop) + 453
                    if (leftpostire1 > 283) leftpostire1 = 283

                    var leftpostire2 = (scrollTop - elementTop) + 229
                    if (leftpostire2 > 59) leftpostire2 = 59

                    var leftpostire3 = (scrollTop - elementTop) + 127
                    if (leftpostire3 > -43) leftpostire3 = -43

                } else if (window.innerWidth < 1200 && window.innerWidth >= 992) {
                    if (leftpos > -120) leftpos = -120

                    var leftpostire1 = (scrollTop - elementTop) + 382
                    if (leftpostire1 > 212) leftpostire1 = 212

                    var leftpostire2 = (scrollTop - elementTop) + 193
                    if (leftpostire2 > 23) leftpostire2 = 23

                    var leftpostire3 = (scrollTop - elementTop) + 114
                    if (leftpostire3 > -56) leftpostire3 = -56

                } else if (window.innerWidth < 992 && window.innerWidth >= 768) {
                    if (leftpos > -20) leftpos = -20

                    var leftpostire1 = (scrollTop - elementTop) + 565
                    if (leftpostire1 > 495) leftpostire1 = 495

                    var leftpostire2 = (scrollTop - elementTop) + 282
                    if (leftpostire2 > 212) leftpostire2 = 212

                    var leftpostire3 = (scrollTop - elementTop) + 151
                    if (leftpostire3 > 81) leftpostire3 = 81

                } else {
                    if (leftpos > -120) leftpos = -120
                }

                var leftpostire1deg = leftpostire1
                leftpostire1deg %= 360

                var leftpostire2deg = leftpostire2
                leftpostire2deg %= 360

                var leftpostire3deg = leftpostire3
                leftpostire3deg %= 360

                $(this).find("#move").css({ left: leftpos })
                $(this).find("#move-tire1").css({ left: leftpostire1, transform: `rotate(${leftpostire1deg}deg)` })
                $(this).find("#move-tire2").css({ left: leftpostire2, transform: `rotate(${leftpostire2deg}deg)` })
                $(this).find("#move-tire3").css({ left: leftpostire3, transform: `rotate(${leftpostire3deg}deg)` })
            })
        })
    </script>

</body>

</html>