<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon-32x32.png">

    <meta name="description"
        content="ConvoyHub Express began in July 2022. ConvoyHub Express is one of the best virtual trucking company in the world of simulated trucking, you can find for realism, we in ConvoyHub congratulate realism in trucking more than anything.">
    <meta name="author" content="InsanoDeath">

    <title>Privacy Policy | ConvoyHub Express</title>

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="/css/plugins.css?ver=3.1" />
    <link type="text/css" rel="stylesheet" href="/css/style.css?ver=3.1" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/vtc.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="metaportal_fn_preloader">
        <div class="loading-container">
            <div class="loading">
                <div class="l1">
                    <div></div>
                </div>
                <div class="l2">
                    <div></div>
                </div>
                <div class="l3">
                    <div></div>
                </div>
                <div class="l4">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- !Preloader -->

    <!-- Main -->
    <div class="metaportal_fn_main">

        <!-- Mobile Navigation -->
        <div class="metaportal_fn_mobnav">
            <div class="mob_mid">
                <div class="logo">
                    <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                </div>
                <div class="trigger">
                    <span></span>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="mob_bot">
                <ul>
                    <li><a class="creative_link" href="/home">Home</a></li>
                    <li><a class="creative_link" href="/about">About Us</a></li>
                    <li><a class="creative_link" href="/team">Our Team</a></li>
                    <li><a class="creative_link" href="/rules">Rules</a></li>
                    <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                </ul>
            </div>
        </div>
        <!-- !Mobile Navigation -->

        <!-- Header -->
        <header id="header">
            <div class="header">
                <div class="header_in">

                    <div class="trigger_logo">
                        <div class="logo">
                            <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                        </div>
                    </div>

                    <div class="nav">
                        <ul>
                            <li><a class="creative_link" href="/">Home</a></li>
                            <li><a class="creative_link" href="/about">About Us</a></li>
                            <li><a class="creative_link" href="/team">Our Team</a></li>
                            <li><a class="creative_link" href="/rules">Rules</a></li>
                            <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
        <!-- !Header -->

        <!-- Content -->
        <div class="metaportal_fn_content">

            <div class="metaportal_fn_pagetitle">

                <div class="container small">
                    <div class="pagetitle">
                        <h3 class="fn__maintitle big" data-text="Privacy Policy" data-align="center">Privacy Policy</h3>
                        <p>
                            <a href="/">Home</a>
                            <span class="divider">/</span>
                            <span class="text">Privacy Policy</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->

            <div class="metaportal_fn_privacy">
                <div class="container small">


                    <h3 class="fn__maintitle" data-text="PRIVACY POLICY FOR CONVOYHUB">
                        PRIVACY POLICY FOR CONVOYHUB
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>
                        At https://express.convoyhub.in/, accessible from https://convoyhub.in/, one of our main priorities
                        is
                        the privacy of our visitors. This Privacy Policy document contains types of information that is
                        collected and recorded by convoyhub2022@gmail.com and how we use it.
                    </p>

                    <p>
                        If you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to <a href="mailto:convoyhub2022@gmail.com">contact us</a>.
                    </p>

                    <p>
                        This Privacy Policy applies only to our online activities and is valid for visitors to our
                        website with regards to the information that they shared and/or collect in
                        https://convoyhub.in/. This policy is not applicable to any information collected offline or
                        via channels other than this website.
                    </p>


                    <h3 class="fn__maintitle" data-text="Consent">
                        Consent
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>


                    <h3 class="fn__maintitle" data-text="Information we collect">
                        Information we collect
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>
                        The personal information that you are asked to provide, and the reasons why you are asked to
                        provide it, will be made clear to you at the point we ask you to provide your personal
                        information.
                    </p>
                    <p>
                        If you contact us directly, we may receive additional information about you such as your name,
                        email address, phone number, the contents of the message and/or attachments you may send us, and
                        any other information you may choose to provide.
                    </p>
                    <p>
                        When you register for an Account, we may ask for your contact information, including items such
                        as name, email and Country.
                    </p>


                    <h3 class="fn__maintitle" data-text="How we use your information">
                        How we use your information
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>We use the information we collect in various ways, including to:</p>

                    <ul>
                        <li>Provide, operate, and maintain our website</li>
                        <li>Improve, personalize, and expand our website</li>
                        <li>Understand and analyze how you use our website</li>
                        <li>Develop new products, services, features, and functionality</li>
                        <li>Send you emails</li>
                        <li>Find and prevent fraud</li>
                    </ul>



                    <h3 class="fn__maintitle" data-text="Log Files">
                        Log Files
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>
                        https://convoyhub.in/ follows a standard procedure of using log files. These files log visitors
                        when they visit websites. All hosting companies do this and a part of hosting services'
                        analytics. The information collected by log files include internet protocol (IP) addresses,
                        browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and
                        possibly the number of clicks. These are not linked to any information that is personally
                        identifiable. The purpose of the information is for analyzing trends, administering the site,
                        tracking users' movement on the website, and gathering demographic information.
                    </p>


                    <h3 class="fn__maintitle" data-text="Advertising Partners Privacy Policies">
                        Advertising Partners Privacy Policies
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <P>
                        You may consult this list to find the Privacy Policy for each of the advertising partners of
                        https://www.convoyhub.in/.
                    </p>

                    <p>
                        Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons
                        that are used in their respective advertisements and links that appear on
                        https://www.convoyhub.in/, which are sent directly to users' browser. They automatically receive
                        your IP address when this occurs. These technologies are used to measure the effectiveness of
                        their advertising campaigns and/or to personalize the advertising content that you see on
                        websites that you visit.
                    </p>

                    <p>
                        Note that https://www.convoyhub.in/ has no access to or control over these cookies that are used
                        by
                        third-party advertisers.
                    </p>


                    <h3 class="fn__maintitle" data-text="Third Party Privacy Policies">
                        Third Party Privacy Policies
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>
                        https://www.convoyhub.in/'s Privacy Policy does not apply to other advertisers or websites.
                        Thus,
                        we are advising you to consult the respective Privacy Policies of these third-party ad servers
                        for more detailed information. It may include their practices and instructions about how to
                        opt-out of certain options.
                    </p>

                    <p>
                        You can choose to disable cookies through your individual browser options. To know more detailed
                        information about cookie management with specific web browsers, it can be found at the browsers'
                        respective websites.
                    </p>


                    <h3 class="fn__maintitle" data-text="CCPA Privacy Rights (Do Not Sell My Personal Information)">
                        CCPA Privacy Rights (Do Not Sell My Personal Information)
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                    <p>
                        Request that a business that collects a consumer's personal data disclose the categories and
                        specific pieces of personal data that a business has collected about consumers.
                    </p>
                    <p>
                        Request that a business delete any personal data about the consumer that a business has
                        collected.
                    </p>
                    <p>
                        Request that a business that sells a consumer's personal data, not sell the consumer's personal
                        data.
                    </p>
                    <p>
                        If you make a request, we have one month to respond to you. If you would like to exercise any of
                        these rights, please contact us.
                    </p>


                    <h3 class="fn__maintitle" data-text="GDPR Data Protection Rights">
                        GDPR Data Protection Rights
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>
                        We would like to make sure you are fully aware of all of your data protection rights. Every user
                        is entitled to the following:
                    </p>
                    <p>
                        The right to access – You have the right to request copies of your personal data. We may charge
                        you a small fee for this service.
                    </p>
                    <p>
                        The right to rectification – You have the right to request that we correct any information you
                        believe is inaccurate. You also have the right to request that we complete the information you
                        believe is incomplete.
                    </p>
                    <p>
                        The right to erasure – You have the right to request that we erase your personal data, under
                        certain conditions.
                    </p>
                    <p>
                        The right to restrict processing – You have the right to request that we restrict the processing
                        of your personal data, under certain conditions.
                    </p>
                    <p>
                        The right to object to processing – You have the right to object to our processing of your
                        personal data, under certain conditions.
                    </p>
                    <p>
                        The right to data portability – You have the right to request that we transfer the data that we
                        have collected to another organization, or directly to you, under certain conditions.
                    </p>
                    <p>
                        If you make a request, we have one month to respond to you. If you would like to exercise any of
                        these rights, please <a href="mailto:convoyhub2022@gmail.com">contact us</a>.
                    </p>


                    <h3 class="fn__maintitle" data-text="Children's Information">
                        Children's Information
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>Another part of our priority is adding protection for children while using the internet. We
                        encourage parents and guardians to observe, participate in, and/or monitor and guide their
                        online activity.</p>

                    <p>https://www.convoyhub.in/ does not knowingly collect any Personal Identifiable Information from
                        children under the age of 13. If you think that your child provided this kind of information on
                        our website, we strongly encourage you to <a href="mailto:convoyhub2022@gmail.com">contact us</a>
                        immediately and we will do our best efforts
                        to promptly remove such information from our records.</p>

                </div>
            </div>


            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->


            <!-- Footer -->
            <footer id="footer">

                <div class="container top-footer">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <img src="/images/logo-banner-dark.png" alt="CHEVTC Banner" style="width: 100%;">
                            <h5 class="text-center">Express Delivery To Your Door Step</h5>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Contact US</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa fa-envelope-open"></i>
                                            <a href="mailto:info@convoyhub.in">info@convoyhub.in
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="https://discord.convoyhub.in" class="metaportal_fn_button"
                                            target="_blank">
                                            <span>Join Discord</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Navigate</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/">
                                                Home
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/about">
                                                About
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/team">
                                                Meet our Team
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/policy">
                                                Privacy Policy
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-12 col-md-4">
                            <!-- Facts Starts -->
                            <div>
                                <h3 style="color: #fff;">Support ConvoyHub</h3>
                                <hr style="background: #2190E3;">
                                <p>
                                    If you like our work and want to help support our community grow more, please
                                    consider
                                    becoming a Patron or donating. Every donation helps us to improve your
                                    experiences.
                                </p>
                                <a href="https://www.patreon.com/convoyhub" target="_blank">
                                    <button class="btn btn-danger btn-circled">
                                        <i class="fa-brands fa-patreon"></i>
                                        Become a Patreon
                                    </button>
                                </a>
                            </div>
                            <!-- Facts Ends -->
                            <hr>
                            <!-- Social Media Links Starts -->
                            <div class="social-icons">
                                <ul class="social">
                                    <li>
                                        <a class="twitter" href="https://twitter.com/ConvoyHub" title="twitter"></a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="https://www.instagram.com/convoyhub"
                                            title="instagram"></a>
                                    </li>
                                    <li>
                                        <a class="youtube"
                                            href="https://www.youtube.com/channel/UCU8TQxwbW77eIFQ2TkAe_XA"
                                            title="youtube"></a>
                                    </li>
                                    <li>
                                        <a class="discord" href="https://discord.convoyhub.in/" title="discord"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social Media Links Ends -->
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
                <!-- Footer Top Area Ends -->

                <div class="container">
                    <div class="footer">
                        <div class="left_part">
                            <p>Copyright © 2022 ConvoyHub. All Rights Reserved — Created with Love by
                                <a href="https://www.instagram.com/sameeraroraa/" target="_blank"
                                    style="color: #2190E3;">InsanoDeath</a>
                            </p>
                        </div>
                        <div class="right_part">
                            <ul>
                                <li><a class="creative_link" href="/policy">Privacy Policy</a></li>
                                <li><a class="creative_link" href="/tos">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- !Footer -->

        </div>
        <!-- !Content -->


        <!-- Totop -->
        <a href="#" class="metaportal_fn_totop">
            <span class="totop_inner">
                <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                </span>
            </span>
        </a>
        <!-- /Totop -->


    </div>
    <!-- !Main -->

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/plugins128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/init128b.js?ver=3.1"></script>
    <!-- !Scripts -->

</body>

</html>