<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon-32x32.png">

    <meta name="description"
        content="ConvoyHub Express began in July 2022. ConvoyHub Express is one of the best virtual trucking company in the world of simulated trucking, you can find for realism, we in ConvoyHub congratulate realism in trucking more than anything.">
    <meta name="author" content="InsanoDeath">

    <title>Rules | ConvoyHub Express</title>

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="/css/plugins.css?ver=3.1" />
    <link type="text/css" rel="stylesheet" href="/css/style.css?ver=3.1" />
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/vtc.css" />

</head>

<body>

    <!-- Preloader -->
    <div class="metaportal_fn_preloader">
        <div class="loading-container">
            <div class="loading">
                <div class="l1">
                    <div></div>
                </div>
                <div class="l2">
                    <div></div>
                </div>
                <div class="l3">
                    <div></div>
                </div>
                <div class="l4">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- !Preloader -->

    <!-- Main -->
    <div class="metaportal_fn_main">

        <!-- Mobile Navigation -->
        <div class="metaportal_fn_mobnav">
            <div class="mob_mid">
                <div class="logo">
                    <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                </div>
                <div class="trigger">
                    <span></span>
                </div>
            </div>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <div class="mob_bot">
                <ul>
                    <li><a class="creative_link" href="/home">Home</a></li>
                    <li><a class="creative_link" href="/about">About Us</a></li>
                    <li><a class="creative_link" href="/team">Our Team</a></li>
                    <li><a class="creative_link" href="/rules">Rules</a></li>
                    <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                </ul>
            </div>
        </div>
        <!-- !Mobile Navigation -->

        <!-- Header -->
        <header id="header">
            <div class="header">
                <div class="header_in">

                    <div class="trigger_logo">
                        <div class="logo">
                            <a href="/"><img src="/images/logo-banner-dark.png" alt="Banner"></a>
                        </div>
                    </div>

                    <div class="nav">
                        <ul>
                            <li><a class="creative_link" href="/">Home</a></li>
                            <li><a class="creative_link" href="/about">About Us</a></li>
                            <li><a class="creative_link" href="/team">Our Team</a></li>
                            <li><a class="creative_link" href="/rules">Rules</a></li>
                            <li><a class="creative_link" href="/drivershub">DriversHub</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
        <!-- !Header -->

        <!-- Content -->
        <div class="metaportal_fn_content">

            <div class="metaportal_fn_pagetitle">

                <div class="container small">
                    <div class="pagetitle">
                        <h3 class="fn__maintitle big" data-text="Rules" data-align="center">Rules</h3>
                        <p>
                            <a href="/">Home</a>
                            <span class="divider">/</span>
                            <span class="text">Rules</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->

            <div class="metaportal_fn_privacy">
                <div class="container small">


                    <h3 class="fn__maintitle" data-text="⁋1 – Community Rules">
                        ⁋1 – Community Rules
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <h3>⁋1.1 – Official TruckersMP Rules</h3>
                    <p>
                        As a ConvoyHub Express member, you must comply with all official TruckersMP rules. All
                        TruckersMP rules are available <a href="https://truckersmp.com/rules">here</a>.
                    </p>

                    <h3>⁋1.2 – Member Respect</h3>
                    <p>
                        You must respect everyone in ConvoyHub Express. If someone disrespects you, don't avenge and
                        insult back. You should report the user by using creating a ticket on our <a
                            href="https://discord.convoyhub.in">discord</a>.
                    </p>

                    <h3>⁋1.3 – Staff Disrespect</h3>
                    <p>
                        You should be respectful of all staff and accept their decisions for the VTC. If an employee
                        insults you, you can report it to us at
                        <a href="mailto:info@convoyhub.in">info@convoyhub.in</a>.
                    </p>

                    <h3>⁋1.4 – Confidential News</h3>
                    <p>
                        The sharing of confidential news or messages with other members of any other Virtual Trucking
                        Company (VTC) or any other person is strictly forbidden. This will lead to a permanent ban from
                        the VTC.
                    </p>


                    <h3 class="fn__maintitle" data-text="⁋2 – VTC Rules">
                        ⁋2 – VTC Rules
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <h3>⁋2.1 – Dual VTC’ing</h3>
                    <p>
                        Express Drivers are not allowed to be in any other Virtual Trucking Company (VTC). If someone is
                        found participating / driving as another VTC’s driver, they can be kicked from ConvoyHub
                        Express.
                    </p>

                    <h3>⁋2.2 – Re-joining VTC</h3>
                    <p>
                        If an Express Member leaves ConvoyHub Express and then chooses to apply again, the member will
                        be treated the same way, but this is only applicable till the third time. If an Express Trucker
                        leaves or is removed from ConvoyHub Express for the third time and applies again for the fourth
                        time, the application will be cancelled automatically.
                    </p>

                    <h3>⁋2.3 – In-Game Tag</h3>
                    <p>
                        Your in-game tag should be <font color="#2190E3"><b>ConvoyHub</b></font> at all times. If we
                        find you with a changed tag, you will be warned and then kicked out of ConvoyHub Express.
                    </p>

                    <h3>⁋2.4 – Reporting a Player</h3>
                    <p>
                        If you see an Express Trucker is creating a problem in-game, it is always preferable to report
                        that member through the VTC reporting system; this will lead us to handle ConvoyHub Express
                        properly, and the erroneous members will be warned.
                    </p>

                    <h3>⁋2.5 – Staff for Other Community</h3>
                    <p>
                        If you are interested in working for any other Euro Truck Simulator 2 or American Truck
                        Simulator community, you must inform any upper staff in ConvoyHub Express. Failing to do that
                        will lead to a kick from ConvoyHub Express.
                    </p>

                    <h3>⁋2.6 – Ban Information</h3>
                    <p>
                        If you are banned from TruckersMP while your application is in progress or while you are a
                        member of ConvoyHub Express, you must inform the upper staff about your ban.
                    </p>

                    <h3>⁋2.7 – Leaving ConvoyHub Express</h3>
                    <p>
                        If you are willing to Leave ConvoyHub Express VTC, you should inform any Staff member for the
                        Same by creating a support ticket through the discord server.
                    </p>

                    <h3 class="fn__maintitle" data-text="⁋3 – Express DriversHub Rules">
                        ⁋3 – Express DriversHub Rules
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <h3>⁋3.1 – Bugs & Glitches</h3>
                    <p>
                        Our developers have worked hard to make our Express DriversHub work as faultlessly as possible,
                        but exceptions are always there. Our DriversHub still may contain some bugs. If we find someone
                        exploiting any bugs, we will not tolerate it; hence it will result in a kick from ConvoyHub
                        Express. You Should rather report it to the Developers via Bug & Glitches Channel.
                    </p>

                    <h3>⁋3.2 – Job Tempering</h3>
                    <p>
                        We will take strict actions against the user we found using some mod/glitch that may affect your
                        express statistics.
                    </p>

                    <h3>⁋3.3 – Registration</h3>
                    <p>
                        You should be registered on Express DriversHub within two weeks after getting accepted into
                        ConvoyHub Express. Otherwise, this may lead to a kick from ConvoyHub Express.
                    </p>


                    <h3 class="fn__maintitle" data-text="⁋4 – Event Rules">
                        ⁋4 – Event Rules
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <h3>⁋4.1 – Doing Jobs</h3>
                    <p>
                        You can pick a job during a convoy, but there are some limitations to that the job you pick must
                        weigh under 5 Tons. If we found some user doing even 5.1 ton job. An action will be taken
                        against the user which will primarily lead to the job deletion as well as deduction in the total
                        tokens the user has.
                    </p>

                    <h3>⁋4.2 – Representing ConvoyHub Express</h3>
                    <p>
                        As a member of ConvoyHub Express, you should always keep in mind that while in any event in game
                        where you are representing ConvoyHub Express, you should behave like good player only to improve
                        and maintain the Goodwill of ConvoyHub.
                    </p>

                    <h3>⁋4.3 – Vehicles Allowed</h3>
                    <p>
                        Only Trucks Provided by us in our Convoy Account are allowed in the Convoys / events. Bringing
                        any other different truck or a car will lead to, but not limited to, be FIRED from the VTC.
                    </p>

                    <h3>⁋4.4 – Convoy Voice Channel</h3>
                    <p>
                        You should be in Convoy Time Voice Channel (In Discord) during the official convoy. In special
                        cases you must inform any of the upper staff or Founder for the same.
                    </p>

                    <h3>⁋4.5 – Details Information</h3>
                    <p>
                        ⁋4.5.1 - You should read #convoy-details channel in our discord where you can find all the
                        details related to the convoy.

                        ⁋4.5.2 - You will be notified on the day of every convoy. Keep a check at #announcement. You can
                        also follow the channel on your own discord server.
                    </p>

                    <h3>⁋4.6 – Instructions</h3>
                    <p>
                        ⁋4.6.1 – Always Carefully Listen and obey the Instructions Given by Event Staff.
                        ⁋4.6.2 – Always Keep a safe distance between 50-100 meters from the truck in front of you.
                        ⁋4.6.3 – Do not misbehave or abuse in any circumstances in the convoy.
                        ⁋4.6.4 – Always Drive Safe and speed according to the convoy.
                    </p>

                    <h3 class="fn__maintitle" data-text="⁋5 – Convoy Account Rules">
                        ⁋5 – Convoy Account Rules
                    </h3>
                    <div class="fn_cs_divider">
                        <div class="divider">
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <h3>⁋5.1 – Modification</h3>
                    <p>
                        Modifying any of the trucks / trailers provided by us in the convoy account is strictly
                        prohibited. Doing so may cause a kick from the VTC.
                    </p>

                    <h3>⁋5.2 – Livery Use</h3>
                    <p>
                        It is highly recommended that you use the ConvoyHub Express Livery during free roam / while
                        doing jobs. You can purchase a new truck and modify it your way if you wish to have a modified
                        truck with our livery.
                    </p>
                </div>
            </div>


            <!-- Section Divider -->
            <div class="fn_cs_section_divider">
                <div class="divider">
                    <span class="short"></span>
                    <span class="long"></span>
                    <span class="short"></span>
                </div>
            </div>
            <!-- !Section Divider -->


            <!-- Footer -->
            <footer id="footer">

                <div class="container top-footer">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-2">
                            <img src="/images/logo-banner-dark.png" alt="CHEVTC Banner" style="width: 100%;">
                            <h5 class="text-center">Express Delivery To Your Door Step</h5>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Contact US</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa fa-envelope-open"></i>
                                            <a href="mailto:info@convoyhub.in">info@convoyhub.in
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="https://discord.convoyhub.in" class="metaportal_fn_button"
                                            target="_blank">
                                            <span>Join Discord</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <h4>Navigate</h4>
                            <div class="menu">
                                <ul>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/">
                                                Home
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/about">
                                                About
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/team">
                                                Meet our Team
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa-solid fa-chevron-right"></i>
                                            <a href="/policy">
                                                Privacy Policy
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Starts -->
                        <div class="col-xs-6 col-sm-12 col-md-4">
                            <!-- Facts Starts -->
                            <div>
                                <h3 style="color: #fff;">Support ConvoyHub</h3>
                                <hr style="background: #2190E3;">
                                <p>
                                    If you like our work and want to help support our community grow more, please
                                    consider
                                    becoming a Patron or donating. Every donation helps us to improve your
                                    experiences.
                                </p>
                                <a href="https://www.patreon.com/convoyhub" target="_blank">
                                    <button class="btn btn-danger btn-circled">
                                        <i class="fa-brands fa-patreon"></i>
                                        Become a Patreon
                                    </button>
                                </a>
                            </div>
                            <!-- Facts Ends -->
                            <hr>
                            <!-- Social Media Links Starts -->
                            <div class="social-icons">
                                <ul class="social">
                                    <li>
                                        <a class="twitter" href="https://twitter.com/ConvoyHub" title="twitter"></a>
                                    </li>
                                    <li>
                                        <a class="instagram" href="https://www.instagram.com/convoyhub"
                                            title="instagram"></a>
                                    </li>
                                    <li>
                                        <a class="youtube"
                                            href="https://www.youtube.com/channel/UCU8TQxwbW77eIFQ2TkAe_XA"
                                            title="youtube"></a>
                                    </li>
                                    <li>
                                        <a class="discord" href="https://discord.convoyhub.in/" title="discord"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Social Media Links Ends -->
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
                <!-- Footer Top Area Ends -->

                <div class="container">
                    <div class="footer">
                        <div class="left_part">
                            <p>Copyright © 2022 ConvoyHub. All Rights Reserved — Created with Love by
                                <a href="https://www.instagram.com/sameeraroraa/" target="_blank"
                                    style="color: #2190E3;">InsanoDeath</a>
                            </p>
                        </div>
                        <div class="right_part">
                            <ul>
                                <li><a class="creative_link" href="/policy">Privacy Policy</a></li>
                                <li><a class="creative_link" href="/tos">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- !Footer -->

        </div>
        <!-- !Content -->


        <!-- Totop -->
        <a href="#" class="metaportal_fn_totop">
            <span class="totop_inner">
                <span class="icon">
                    <i class="fa-solid fa-chevron-up"></i>
                </span>
            </span>
        </a>
        <!-- /Totop -->


    </div>
    <!-- !Main -->

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/plugins128b.js?ver=3.1"></script>
    <script type="text/javascript" src="/js/init128b.js?ver=3.1"></script>
    <!-- !Scripts -->

</body>

</html>